<div class="offcanvas offcanvas-bottom"
     tabindex="-1"
     id="offcanvasBottom"
     aria-labelledby="offcanvasBottomLabel">

  <div class="offcanvas-header">
    <div class="form-hero mb-0" id="offcanvasBottomLabel">
      <div class="sec-eye">Adapter</div>
      <div class="sec-title">Nouveau <em>texte</em></div>
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
  </div>

  <div class="offcanvas-body">
    <%= link_to "Coller un texte", new_copy_articles_path, class: "btn-readapt" %>
    <%= link_to "Importer un fichier", new_import_articles_path, class: "btn-readapt" %>
    <%= link_to "Prendre une photo du texte à convertir", new_photo_articles_path, class: "btn-readapt" %>
  </div>
</div>
