<nav class="navbar-bottom">
  <%= link_to root_path, class: "ni #{controller_name == 'pages' ? 'active' : ''}" do %>
    <div class="ni-iw">
      <i class="fa-solid fa-house"></i>
    </div>
    <span class="ni-l">Accueil</span>
  <% end %>

  <%= link_to articles_path, class: "ni #{controller_name == 'articles' && action_name == 'index' ? 'active' : ''}" do %>
    <div class="ni-iw">
      <i class="fa-solid fa-book-open"></i>
    </div>
    <span class="ni-l">Mes textes</span>
  <% end %>

  <button class="ni"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasBottom"
          aria-controls="offcanvasBottom">
    <div class="ni-iw ni-add">
      <i class="fa-solid fa-plus"></i>
    </div>
    <span class="ni-l">Adapter</span>
  </button>

  <% if current_user %>
    <%= link_to edit_setting_path(current_user.setting), class: "ni #{controller_name == 'settings' ? 'active' : ''}" do %>
      <div class="ni-iw">
        <i class="fa-solid fa-sliders"></i>
      </div>
      <span class="ni-l">Réglages</span>
    <% end %>

    <%= link_to profile_path, class: "ni #{controller_name == 'profiles' ? 'active' : ''}" do %>
      <div class="ni-iw">
        <i class="fa-solid fa-circle-user"></i>
      </div>
      <span class="ni-l">Profil</span>
    <% end %>
  <% end %>
</nav>
