<nav class="navbar-bottom">
  <ul>
    <li><i class="fa-solid fa-book-open"></i></li>
    <li><i class="fa-solid fa-house"></i></li>
    <li><i class="fa-solid fa-wand-magic-sparkles">Aa</i></li>
  </ul>
</nav>
