<nav class="navbar navbar-light navbar-lewagon container-fluid">
    <%= link_to root_path , class: "navbar-brand justify-content" do %>
      <%= image_tag "readapt-logo-home.svg" %>
    <% end %>
</nav>
