<nav class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">

    <div data-controller="slide-menu">
        <header class="app-header">
          <button class="burger-btn" type="button" data-action="click->slide-menu#open">
            <span class="navbar-toggler-icon"></span>
          </button>
      </header>
      <div class="overlay"
        data-slide-menu-target="overlay"
        data-action="click->drawer#close">
      </div>

      <nav class="slide-menu-drawer" data-slide-menu-target="menu">
        <button class="burger-btn" type="button" aria-label="Toggle navigation" data-action="click->slide-menu#close">
        <span class="navbar-toggler-icon"></span>
      </button>

        <ul class="slide-menu-links">
          <li>Mon Profil</li>
          <li>Mes Textes</li>
          <li>Convertir un texte</li>
          <li>A propos </li>
        </ul>
      </nav>
    </div>
    <%= link_to "#", class: "navbar-brand justify-content" do %>
      <%= image_tag "readapt-logo-home.svg" %>
    <% end %>

    <%= link_to "#", class: "navbar-brand justify-content" do %>
      <i class="fa-regular fa-bell"></i>
    <% end %>
</nav>
