<div class="px-3">

  <h1 class="text-center mt-3 mb-3">Mes préférences</h1>

  <%= render "show_content", setting: @setting %>

  <%= link_to edit_setting_path(@setting), class: "btn btn-readapt w-100" do %>
    <i class="fa-solid fa-pen-to-square me-1"></i> Modifier mes préférences
  <% end %>

</div>
