
<div class="page-container">
  <div class="hero-text">
    <div class="hero-badge">Pour les esprits dyslexiques ✦</div>
      <h1 class="hero-headline">Lire sans <br>
      se <em>battre</em></h1>
      <p class="hero-sub">Readapt se transforme n'importe quel texte en format OpenDyslexic, pensé pour toi</p>
  </div>

  <div class="transform-card">
    <p>AVANT  &rarr;  APRÈS</p>
    <br>
    <div class="transform-before">La dyslexie affecte environ 10% de la population mondiale, rendant la lecture difficile</div>

    <div class="transform-arrow">
      <div class="transform-arrow-line"></div>
      <div class="transform-arrow-icon">
        <svg viewBox="0 0 24 24"><path d="M12 5v14M5 12l7 7 7-7"/></svg>
      </div>
      <div class="transform-arrow-line"></div>
    </div>

    <p class="transform-after-label">✦ OpenDyslexic activé</p>
    <div class="transform-after">La dyslexie affecte environ 10% de la population mondiale, rendant la lecture difficile</div>
  </div>

  <div class="card-container">
    <div class="stat-card">
      <div class="stat-number">10<span>%</span></div>
      <div class="stat-label">de la population<br>concernée</div>
    </div>
    <div class="stat-card">
      <div class="stat-number">+40<span>%</span></div>
      <div class="stat-label">de lisibilité<br>améliorée</div>
    </div>
    <div class="stat-card">
      <div class="stat-number">3<span>s</span></div>
      <div class="stat-label">pour adapter<br>ton texte</div>
    </div>
  </div>
  <div class="section-title">Importe ton texte</div>

  <div class="actions-grid">

    <div class="action-card primary">
      <div class="action-icon primary-icon">
        <i class="fa-regular fa-copy"></i>
      </div>
      <div class="action-text">
        <div class="action-title">Colle ton texte</div>
        <div class="action-desc">Copie-colle directement depuis n'importe où</div>
      </div>
      <div class="action-arrow">›</div>
    </div>

    <div class="action-card">
      <div class="action-icon amber">
        <i class="fa-solid fa-qrcode"></i>
      </div>
      <div class="action-text">
        <div class="action-title">Scanne un QR code</div>
        <div class="action-desc">Capture instantanée depuis ton appareil</div>
      </div>
      <div class="action-arrow">›</div>
    </div>

    <div class="action-card">
      <div class="action-icon blue">
        <i class="fa-solid fa-file-arrow-up"></i>
      </div>
      <div class="action-text">
        <div class="action-title">Importe un fichier</div>
        <div class="action-desc">PDF, Word, ou tout autre document</div>
      </div>
      <div class="action-arrow">›</div>
    </div>

  </div>
</div>
