.card {
  background-color: transparent;
  box-shadow: 0 4px 20px rgba(0,0,0,0.15);
  border: none;
}

.text-index {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  margin: 0 auto;
  padding: 24px 16px;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }

  &_actions {
    grid-column: 1 / -1;
    display: flex;
    gap: 12px;
    margin-top: 12px;
  }
}

.readapt-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background-color: rgb(252, 248, 248);
  box-shadow: 0 4px 20px rgba(0,0,0,0.15);
  border: none;
  padding: 0px 12px;
  transition: box-shadow 0.2 ease;
  width: 66vw;
  margin: 0 auto 8px;
  margin-bottom: 8px;

  &:hover {
    box-shadow: 0 4px 20px rgba(0,0,0,0.15);
  }

  &_left {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &_title {
    color: #194F7A;
    font-weight: 600;
    text-decoration: none;
  }
}

.tabs {
  display: flex;
  gap: 12px;
  margin-bottom: 12px;
  margin-left: 8px;
}

.tab {
  padding: 4px 12px;
  border-radius: 20px;
  text-decoration: none;
  color: #6f7f7d;
  font-weight: 600;
}

.tab.active {
  background: #0b2d4d;
  color: white;
}

.readapt-card_content {
  display: flex;
  flex-direction: column;
  p {
    margin: 2px;
  }
}

.title-index {
  margin-top: 4px;
  margin-left: 12px;
  font-weight: 700;
  font-size: 30px;
}
