/* BOTTOM NAVBAR */

.navbar-bottom {
  background: #ffffff;
}
.navbar-bottom ul {
  display: flex;
  justify-content: space-around;
}
.navbar-bottom li {
  list-style: none;
  margin-top: 0.5rem;
}

.navbar-bottom i {
  color: #194F7A;
  padding: 10px;
}

.navbar-bottom a:hover i,
.navbar-bottom a:focus i {
  color:#1B7A6E
}

.fa-house {
  .pages.home & {
    color: black;
    border-bottom: 2px solid black;
    border-bottom: 2px solid black;

  }
}

.fa-book-open {
  .articles.index & {
    color: black;
    border-bottom: 2px solid black;
    border-bottom: 2px solid black;
  }
}

.fa-wand-magic-sparkles {

  .articles.new & {
    color: black;
    border-bottom: 2px solid black;
  }
}

.fa-gear {
  .settings.show & {
    color: black;
    border-bottom: 2px solid black;
  }
}
