/* BOTTOM NAVBAR */

.navbar-bottom {
  bottom: 0;
  width: 100%;
  position: fixed;
  z-index: 1000;
  background: #ffffff;
  height: 10vh;
}

.navbar-bottom ul {
  display: flex;
  justify-content: space-around;
}
.navbar-bottom li {
  list-style: none;

}
