// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "devices/user";
@import "components/buttons";
@import "components/card";
@import "components/navbar_bottom";
@import "components/navbar";
@import "settings/index";
@import "components/audio_player";

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: #1B9E7A;
    text-decoration: none;
  }
}

h1, h2, h3 {
  background: linear-gradient(150deg, #194F7A 30%, #1B9E7A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.fa-trash-can {
  color: rgb(192, 22, 22);
}

.fa-star {
  color: #1B9E7A;
}

/* MAIN CONTENT */

.flex-main-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.main-content {
  height: 95vh;
  overflow-y: auto;
}

/* ---- */

body {
  background-color: $background;
  font-family: 'DM Sans', sans-serif;
}
