<h1 class="text-center">Nouveau texte</h1>

  <div class="container">
    <%= link_to "Coller un texte", new_copy_texts_path, class: "btn-readapt" %>
    <%= link_to "Importer un fichier", new_import_texts_path, class: "btn-readapt" %>
  </div>
